@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;700&display=swap");

.allcard {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  position: relative;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px;
  background: hsl(244, 38%, 16%) !important;
}
.card-title {
  font-family: "Inter";
  font-weight: 700;
}
.card-text {
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
}
.sub-view {
  letter-spacing: 1px;
  font-family: "Lexend Deca";
  font-weight: 400;
}
.sub-text h3 {
  font-family: "Inter";
  font-weight: 700;
}
